@import "tailwindcss";

@layer components {
  @layer components {
    .nav-link {
      @apply relative text-gray-700 hover:text-blue-600 transition-all duration-300 cursor-pointer;
    }

    .nav-link::after {
      content: "";
      @apply absolute bottom-0 left-0 w-0 h-0.5 bg-blue-600 transition-all duration-300;
    }

    .nav-link:hover::after {
      width: 100%;
    }
  }
}

@theme {
  --animate-blink: blink 1s step-end infinite;

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}
